div {
  border: 1px solid black;
  margin: 10px 0;
  height: 10px;
  background-color: black;
}

.div_1 {
  width: 700px;
}

.div_2 {
  width: 50%;
}

/*
vw = viewpoint width
vh = viewpoint height 
*/

.div_3 {
  width: 50vw;
}

/*
em
rem = root em
*/

html {
  font-size: 24px;
}

/*
rgb = red green blue
rgba = red green blue alpha
*/

body {
  /* background-color: rgb(255, 255, 255); */
  /* background-color: rgba(255, 255, 255, 0.5); */
  /* background-color: #ff0000; */
  /* ff ff ff */
  /* ff 00 00 */
}

/* form */

textarea {
  resize: none;
}

button {
  width: 100px;
  text-align: center;
  transition: 2s;
  font-family: 'Roboto', sans-serif;
}

button:hover {
  background-color: grey;
  color: brown;
  width: 200px;
}

/*
transition 
*/