* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 25px;
}

.wrapper {
  border: 1px solid black;
  width: 350px;
  height: 350px;
  position: relative;
}

.inner {
  background-color: green;
  width: 100px;
  height: 100px;
  position: absolute;
  right: 30px;
}

.second_onner {
  background-color: red;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  right: 0;
}

.fixed {
  background-color: green;
  width: 100px;
  height: 100px;
  position: sticky;
  bottom: 0;
  top: 0;
}

.empty {
  height: 1000px;
  width: 100%;
  background-color: gray;
}

.fixed {
  transition: 2s;
}

.fixed:hover {
  transform: translate(50px, 15px) scale(1.5) rotate(30deg);
}

/* after, before */

ul {
  list-style: none;
}

li:after {
  content: '⬅';
  margin-left: 10px;
  /* border: 1px solid red; */
  opacity: 0;
  transition: 2s;
  display: inline-block;
  transform: rotate(45deg);
}

li:before {
  content: '➡';
  margin-right: 10px;
  /* border: 1px solid green; */
  opacity: 0;
  transition: 2s;
}

li:hover::after,
li:hover::before {
  opacity: 1;
}
